<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TodoApp.Properties.Settings.TodoDBConnectionString"
            connectionString="Data Source=desktop-qjv53p3\sqlexpress;Initial Catalog=TodoDB;Persist Security Info=True;User ID=vscode;Password=vscode1991"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>